[Unit]
Description=usbackup
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/usbackup --config ~/usbackup/config.conf --service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target