[Unit]
Description=usbackup
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3


[Service]
Type=simple
User=root
Group=root
ExecStart=/bin/usbackup --log=/var/log/usbackup/backup.log --log-level=INFO daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target