[Unit]
Description=UsBackup

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/usbackup --log=/var/log/usbackup/usbackup.log --service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target